
<div class="form-container" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
  <div class="row header">
    <h1>CONTACT US &nbsp;</h1>
    <h3>Fill out the form below to get in touch!</h3>
  </div>
  <div class="row body">
    <%= simple_form_for @contact do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
    <form>
      <ul>

        <li>
          <p class="left">
            <%= f.label :first_name %> <br>
            <%= f.text_field :first_name, required: true,  placeholder: "John"  %>
          </p>
          <p class="pull-right">
             <%= f.label :last_name %> <br>
            <%= f.text_field :last_name, required: true,  placeholder: "Smith"  %>
          </p>
        </li>

        <li>
          <p>
            <%= f.label :email %> <br>
            <%= f.text_field :email, required: true, placeholder: "john.smith@gmail.com" %>
          </p>
        </li>
        <li><div class="divider"></div></li>
        <li>
          <%= f.label :message %> <br>
          <%= f.text_area :message, as: :text%>
        </li>

        <li>
          <%= f.submit 'Send Message', class: "btn btn-submit" %>
          <small>or press <strong>enter</strong></small>
        </li>

      </ul>
      <% end %>
    </form>
  </div>
</div>
