<div class="navbar navbar-expand-sm navbar-light fixed-top navbar-afri", id="navbar-two-white">
  <%= link_to root_path, class: "navbar-brand" do %>
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1586609599/Group_17__2_-removebg-preview.png" id="nav-logo">
  <% end %>

  <!-- <div class="nav-tagline">
    <img src="https://res.cloudinary.com/durtng53m/image/upload/v1587493915/imageedit_3_5101046285.png">
  </div> -->


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-main-items">
        <li class="nav-item dropdown">
          <p class="dropdown-toggle" id="navbarDropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Who We Are </p>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "About us", about_us_path,
                class: "dropdown-item black" %>
            <%= link_to "Visson and Mission", about_us_vission_and_mission_path,
                class: "dropdown-item black" %>
            <%= link_to "Leadership", about_us_leadership_path,
                class: "dropdown-item black" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <p class="dropdown-toggle" id="navbarDropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Our Businesses </p>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Real Estate", real_estate_path,
                class: "dropdown-item black" %>
            <%= link_to "Automobile", automobile_catalogue_path,
                class: "dropdown-item black" %>
            <%= link_to "Manufacturing", manufacturing_path,
                class: "dropdown-item black" %>
            <%= link_to "Farming", farming_path,
                class: "dropdown-item black" %>
          </div>
        </li>
        <li class="nav-item">
          <p><%= link_to "Contact Us", contact_us_path %></p>
        </li>
      </div>
    </ul>
  </div>
</div>


<script type="text/javascript">

  var elmnt2 = document.getElementById("footerid")
  function scrollToBottom() {
    elmnt2.scrollIntoView({behavior: "smooth"}); // Bottom
  }
</script>
