<div class="auto-main-container">
  <div class="auto-intro-container">
    <div class="intro-left">
      <div class="intro-logo">
        <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592132000/1_LOGO-01.png" alt="">
      </div>
      <div class="intro-para-auto">
        <p>Today, the company employs over 1000 employees and respresents brands such as Eicher and Golden Dragon, which is distributed by africarriers limited, which has been crowned the leading distributer in africa, by Eicher for 7 years. The cluster also sells second-hand vehicles through africarriers limited, which has been in business for second hand car sales for over 4 decades.  <br><br>

        The Group also offers a wide range of transport, logistics solutions as well as integrated fleet management solutions through <a class="yellow" href="/logistics">LTH</a> which is one of the largest fleet transportation companies in East Africa. <br><br><br>
        Visit our website & find out more at <a href="http://www.africarriers.co.tz">www.africarriers.co.tz</a>. </p>
      </div>
      <div class="auto-info-icons">
        <a href="mailto:info@africarriers.co.tz" ><i class="fa fa-envelope-square fa-2x blue"></i></a>
        <a href="https://www.linkedin.com/in/lth-ltd/" ><i class="fab fa-linkedin fa-2x yellow"></i></a>
        <a href="https://www.facebook.com/africarriers.limited" ><i class="fab fa-facebook fa-2x blue"></i></a>
        <a href="https://www.instagram.com/africarriers.limited/" ><i class="fab fa-instagram fa-2x yellow"></i></a>
      </div>
    </div>
    <div class="intro-right">
      <img class="hero-toyota" src="https://res.cloudinary.com/durtng53m/image/upload/v1592131834/712fIlvhJSL-removebg-preview.png">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588691326/palm-right-removebg-preview.png" alt="" class="plant1 plant">
      <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588691324/palm-left-removebg-preview.png" alt="" class="plant2 plant">
      <!-- <a href="#section02" class="scroll"><span></span></a> -->
    </div>
  </div>
  <div class="auto-top-brands-section" id="sections02">
    <div class="brands-title">
      <h2>
        OUR
        <span style="letter-spacing: -80px; opacity: 0.25;">P</span>
        <span style="letter-spacing: -70px; opacity: 50%;">P</span>
        <span style="letter-spacing: 0px;">PARTNERS</span>
      </h2>
    </div>

    <div class="brands-container">

      <div class="brand eicher">
        <div class="brand-title"><h2>EICHER</h2></div>
      </div>

      <div class="brand goldendragon">
        <div class="brand-title"><h2>GOLDEN DRAGON</h2></div>
      </div>

    </div>
  </div>
  <div class="multiple-vehicles-container">
    <div class="vehicles-section-title">
      <h2>Range of Produts</h2>
    </div>
    <div class="vehicle-section-para">
      <p>Discover our wide-ranging porfolio of products. Whether you are looking for the latest luxury compac SUV or a heavy duty truck we have what you need. Click to explore further... </p>
    </div>
    <div class="product-range">
      <div class="commercial-products-holder">
        <div class="product-title">
          <h3>Commercial Vehicles</h3>
        </div>

        <div class="commercial-products">
          <div class="commercial-vehicle truck">
            <div class="vehicle-photo" data-aos="fade-down-left" data-aos-duration="1000" data-aos-easing="linear" data-toggle="modal" data-target="#haulagetruck_modal">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592462476/9e001f6b94ae1a4e5a1d70e1093fadbe.jpg" alt="" id="image-flip">
            </div>
              <%= render "haulagetruck_modal" %>
            <div class="vehicle-description">
              <h3>L&M Duty Trucks</h3>
            </div>

          </div>
          <div class="commercial-vehicle truck">
            <div class="vehicle-photo" data-aos="fade-down-left" data-aos-duration="1000" data-aos-easing="linear" data-toggle="modal" data-target="#tippertruck_modal">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588748980/eicher-pro-8031-t-removebg-preview.png" alt="">
            </div>
            <%= render "tipper_truck_modal" %>
            <div class="vehicle-description">
              <h3>Tipper Trucks</h3>
            </div>
          </div>
          <div class="commercial-vehicle truck">
            <div class="vehicle-photo" data-aos="fade-down-left" data-aos-duration="1000"
     data-aos-easing="linear" data-toggle="modal" data-target="#foodtruck_modal">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588748448/eicher-truck-haulage.png" alt="">
            </div>
            <%= render "shared/foodtruck_modal" %>
            <div class="vehicle-description">
              <h3>Heavy Duty Trucks</h3>
            </div>
          </div>
          <div class="commercial-vehicle bus">
            <div class="vehicle-photo" data-aos="fade-down-left" data-aos-duration="1000"
     data-aos-easing="linear">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588748980/New_Starline_DD-removebg-preview.png" alt="">
            </div>

            <div class="vehicle-description">
              <h3>School Buses</h3>
            </div>
          </div>
          <div class="commercial-vehicle bus">
            <div class="vehicle-photo" data-aos="fade-down-left" data-aos-duration="1000"
     data-aos-easing="linear" data-toggle="modal" data-target="#citybus_modal">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1588748487/png-transparent-xiamen-golden-dragon-bus-co-ltd-car-zhengzhou-yutong-bus-co-ltd-car-car-accident-vintage-car-mode-of-transport__1_-removebg-preview.png" alt="">
            </div>
            <%= render "shared/citybus_modal" %>
            <div class="vehicle-description">
              <h3>City Buses</h3>
            </div>
          </div>
          <div class="commercial-vehicle bus">
            <div class="vehicle-photo" data-aos="fade-down-left" data-aos-duration="1000"
     data-aos-easing="linear" data-toggle="modal" data-target="#citybus_modal">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592290161/unnamed__3_-removebg-preview_2.png" alt="">
            </div>
            <%= render "shared/citybus_modal" %>
            <div class="vehicle-description">
              <h3>Specialist Vehicles</h3>
            </div>
          </div>
        </div>

      </div>
      <div class="retail-products-holder">

        <div class="product-title">
          <h3>Retail Vehicles</h3>
        </div>

        <div class="retail-products">
          <div class="retail-vehicle car">
            <div class="vehicle-photo land-cruiser" data-aos="zoom-in" data-aos-duration="1000"
     data-aos-easing="linear" data-toggle="modal" data-target="#landcruiser_modal">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1589446025/toyota-land-cruiser-prado-exterior-side-view-removebg-preview.png" alt="">
            </div>
               <%= render "landcruiser_modal" %>
            <div class="vehicle-description retail-description">
              <h3>Luxury SUVs</h3>
            </div>
          </div>

          <div class="retail-vehicle car">
            <div class="vehicle-photo" data-aos="zoom-in" data-aos-duration="1000"
     data-aos-easing="linear">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1589446184/203-2031027_side-pickup-truck-png-download-image-2017-chevy-removebg-preview.png" alt="">
            </div>
            <div class="vehicle-description retail-description">
              <h3>Hardbody Pickups</h3>
            </div>
          </div>

          <div class="retail-vehicle car" >
            <div class="vehicle-photo" data-aos="zoom-in" data-aos-duration="1000"
     data-aos-easing="linear">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1589446260/1861_1_fj_cruiser_toyota_fj_cruiser_angled_side_door_racing_decals_stripes_graphics__1-removebg-preview.png" alt="">
            </div>
            <div class="vehicle-description retail-description">
              <h3>Compact SUVs</h3>
            </div>
          </div>

          <div class="retail-vehicle car">
            <div class="vehicle-photo" data-aos="zoom-in" data-aos-duration="1000"
     data-aos-easing="linear">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1589446525/b3b3f66db381fa9c127dbef189f74ee1-removebg-preview.png" alt="">
            </div>
            <div class="vehicle-description retail-description">
              <h3>Hatchbacks</h3>
            </div>
          </div>

          <div class="retail-vehicle car">
            <div class="vehicle-photo" data-aos="zoom-in" data-aos-duration="1000"
     data-aos-easing="linear">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1589446582/Toyota-Crown-Concept-01-removebg-preview.png" alt="">
            </div>
            <div class="vehicle-description retail-description">
              <h3>Luxury Sedans</h3>
            </div>
          </div>

          <div class="retail-vehicle car">
            <div class="vehicle-photo" data-aos="zoom-in" data-aos-duration="1000"
     data-aos-easing="linear">
              <img src="https://res.cloudinary.com/durtng53m/image/upload/v1589446679/51059_2019_BMW_Z4_10-removebg-preview.png" alt="">
            </div>
            <div class="vehicle-description retail-description">
              <h3>Luxury Sports</h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="auto-awars-container"></div>
</div>
